```
# Unity specific ignores
Library/
Temp/
Obj/
Build/
Builds/
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.meta
!*.cs.meta
!*.js.meta
!*.boo.meta
*.log
*.err
*.synproj
*.unity
*.unitypackage
[._]*.sln
[._]*.user
[._]*.userprefs
[._]*.pidb
[._]*.booproj
[._]*.svd
[._]*.pdb
[._]*.meta
[._]*/
.vs/
.idea/
*.tmp
*.temp
*.backup
*~
.#*
.##*
```